.hotel_searchBG {
    background-image: url(../../images/hotel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 244px;
}

.hotel_search {
    border-radius: 0px 0px 8.283px 8.283px;
    background: #FFF;
    box-shadow: 0px 3.31333327293396px 10.768332481384277px 0px rgba(0, 0, 0, 0.10);
    width: 994px;
    margin: 0 auto;
    margin-top: -10%;
    padding: 13px 30px 60px 30px;

}

.hotel_slider .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.hotel_slider .rating h6 {
    color: #000;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hotel_slider .rating h6 img {
    display: inline-block;
}

.hotel_slider .rating i {
    color: #eb830d;
    margin: 0 5px;
    font-size: 12px;
}

.hotel_slider .rating a {
    border-radius: 2px;
    background: #FF3A44;
    color: #FFF;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 5px 30px;
}

.hotel_slider .rating p {
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hotel_slider .img_content {
    padding: 10px;
}

.hotel_slider_heading {
    color: #000;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.hotel_slider .box {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 6px;
}

.hotel_slider .slick-initialized .slick-slide {
    padding: 0 10px;
}

.hotel_slider .image_box {
    position: relative;
}

.hotel_slider .image_box img {
    width: 100%;

}

.hotel_slider .wish_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 34px;
}

.popular_destination {
    padding-bottom: 50px;
}

.popular_destination p {
    color: #716E6E;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 7px;
    margin-bottom: 20px;
}

.gallery_box {
    display: flex;
    gap: 20px;
}

.gallery_box .leftBox {
    position: relative;
}

.gallery_box .leftBox img {
    height: 413px;
}

.gallery_box .rightBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery_box .img_div {
    width: 49%;
    height: 200px;
    position: relative;
}

.gallery_box .img_div img {
    width: 100%;
    height: 100%;
}

.cntOnImg {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.cntOnImg h5 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.cntOnImg p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.all_course.category.hotel-search .form-check {
    justify-content: inherit;
}

.all_course.category.hotel-search .form-check label {

    font-size: 14px;
    line-height: 15px;

}

.category.hotel-search .card-header h3 {

    font-size: 16px;
}

.all_course.category.hotel-search .card {
    border-top: 1px solid #222;
    border-radius: 0;
}

.all_course.category.hotel-search .card h6 {
    color: #716E6E;
    text-align: center;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popCourse-boxCnt.hotel_about_content {
    width: 100%;
}

.popCourse-boxCnt.hotel_about_content p {
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.popCourse-boxCnt.hotel_about_content span {
    color: #716E6E;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popCourse-boxCnt.hotel_about_content .cancelBtn {
    color: #000;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: rgba(217, 217, 217, 0.36);
    padding: 10px;
    display: inline-block;

}

.popCourse-boxCnt.hotel_about_content .discount {
    border-radius: 4px;
    background: #FF3A44;
    color: #FFF;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 12px;
}

.hotel-search .dream-job .box .imge {
    width: 292px;
    padding-right: 0;
}

.hotel-search .dream-job .box {
    gap: 30px;
}

.hotel-search .dream-job .box .imge img {
    width: 292px;
}

.small_gallery_img {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.small_gallery_img img {
    border-radius: 10px;
    width: 64px;
    height: 59px;
    cursor: pointer;
}

.popCourse-boxCnt.hotel_about_content h6 {
    margin: 7px 0;
}

.popCourse-boxCnt.hotel_about_content h5 {
    font-size: 26px;
}

.popCourse-boxCnt.hotel_about_content p img {
    margin-right: 5px;
}

.invisiblee {
    display: none;
}

.invisiblee.visible {
    display: block;
}

.hotel-search .dream-job .box {
    margin-bottom: 20px;
}

.hotel_search .location {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.hotel_search .inputBox {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hotel_search .inputBox .location_name {
    border: 0;
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.night_count {
    border-radius: 5.798px;
    background: #E4E4E4;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 8px;
}

.search_hotel_Btn {
    border-radius: 4.97px;
    background: #FF3A44;
    box-shadow: 0px 1.65666663646698px 8.283332824707031px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
    margin: 0 auto;
    display: table;
    margin-top: -20px;

}

.hotel_search .inputBox h4 {
    border: 0;
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.hotel_search .inputBox Img {
    position: absolute;
    top: -5px;
    right: 10px;
}

.hotel_search h6 {
    color: #000;
    font-family: Open Sans;
    font-size: 16.567px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}

.hotel_search label {
    color: #716E6E;
    font-family: Open Sans;
    font-size: 14.91px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.room_needBox {
    width: 230px;
    height: auto;
    background: #FFF;
    padding: 10px;
    box-shadow: 0px 3.31333327293396px 10.768332481384277px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 35px;
}

.room_need {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.room_need span {
    color: #716E6E;
    text-align: center;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.room_need h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.room_need .input_value {
    width: 23px;
    text-align: center;
    font-size: 14px;
    border: 0;
}

.room_need button {
    font-size: 12px;
    background: transparent;
}

.searchble_dropdown {
    position: absolute;
    width: 100%;
    height: auto;
    background: #FFF;
    padding: 10px;
    box-shadow: 0px 3.31333327293396px 10.768332481384277px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 35px;
    z-index: 2;
}
.searchble_dropdown li{
padding: 5px;
}
.topRedPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topRedPart h6{
    color: #FFF;
font-family: Open Sans;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.topRedPart a{
    font-size: 15px;
font-style: normal;
font-weight: 600;
border-radius: 5px;
background: #FFF;
padding: 8px 20px;
}
.topRedPart input{
    color: #DFDFDF;
font-family: Open Sans;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: 0;
border-radius: 5px;
background: #FFF;
padding: 6px 10px;
margin-top: 5px;
width: 100%;
}
.topRedPartWrap{
    background: #FF3A44;
    padding: 5px;
}
.Singlehotel_details{
    margin-top: 10px;
    margin-bottom: 30px;
}
.Singlehotel_details h5{
    color: #000;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
}
.Singlehotel_details h5 i{
    color: #FFC907;
    margin: 4px;
    font-size: 14px;
}
.Singlehotel_details h6{
    color: #000;
font-family: Open Sans;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Singlehotel_details h6 a{
color: #0075FF;
font-weight: 700;
}
.Singlehotel_details .left img{
    width: 100%;
    height: 325px;
}
.Singlehotel_details .right{
    display: flex;
gap: 20px;
}
.Singlehotel_details .right img{
    display: block;
    width: 318px;
height: 154px;
}
.Singlehotel_details  .lastImg{
    margin-top: 18px;
}
.Singlehotel_details .right-cnt{
    width:100%;
}
.Singlehotel_details .right-cnt button{
    border-radius: 5px;
border: 0.5px solid #F00;
background: #FFF;
padding: 10px;
font-size: 12px;
font-weight: 600;
margin-top: 10px;
}
.greemText{
    color: #5FA735;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 16px;
}
.Singlehotel_details .right-cnt span{
    display: block;
    color: #767171;
font-family: Open Sans;
font-size: 10.599px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.Singlehotel_details .right-cnt h5{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
}
.Singlehotel_details .right-cnt .border_box{
display: flex;
justify-content: space-between;
border-radius: 4.416px;
border: 0.883px solid #000;
padding: 13px 30px;
align-items: center;
margin-top: 20px;
}
.hotel_needthings{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C6C6C6;
    margin-bottom: 20px;
}
.hotel_needthings a{
    color: #3F3F3F;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 10px;
}
.hotel_needthings a:focus{
color: #FF3A44;
font-weight: 700;
border-bottom: 2px solid #FF3A44;
}
.space_details{
    display: flex;
    width: 88%;
    justify-content: space-between;
}
.space_details{
    margin: 20px 0;
}
.space_details h6{
    color: #000;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.For_Hotel_rooms .para{
    border-radius: 7px;
background: #F2F2F2;
text-align: center;
padding: 15px;
font-size: 12px;
font-weight: 400;
margin-bottom: 20px;
}
.For_Hotel_rooms .left_side img{
width: 100%;
height: 180px;
}
.more{
    color: #FF3A44;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.For_Hotel_rooms .right_side .top{
    background: rgba(255, 0, 0, 0.02);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.For_Hotel_rooms .right_side .top h5{
    color: #000;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.room_box_wrap{
    display: flex;
    justify-content: space-around;
}
@media (max-width:991px) {
    .topRedPart{
        flex-wrap: wrap;
    }
    .onclickImageBox {
        margin: 0 auto;
    }
    .Singlehotel_details .right{
        margin-top: 30px;
    }
}

@media (max-width:767px) {
    .Singlehotel_details .lastImg{
        margin-top: 0;
    }
    .Singlehotel_details .right .Gallery{
        display: flex;
        justify-content: space-between;
    }
    .Singlehotel_details .right img{
        width: 48%;
    }
    .Singlehotel_details .right{
        flex-wrap: wrap;
    }
    .cntOnImg {
        padding: 15px;
    }

    .cntOnImg h5 {
        font-size: 14px;
    }

    .gallery_box .leftBox img {
        height: 260px;
    }

    .gallery_box {
        flex-wrap: wrap;
    }

    .gallery_box .leftBox {
        width: 100%;
    }

    .gallery_box .leftBox img {
        width: 100%;
    }
}