.hotel_searchBG {
    background-image: url(../../images/hotel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 244px;
}

.hotel_search {
    border-radius: 0px 0px 8.283px 8.283px;
    background: #FFF;
    box-shadow: 0px 3.31333327293396px 10.768332481384277px 0px rgba(0, 0, 0, 0.10);
    width: 994px;
    margin: 0 auto;
    margin-top: -10%;
    padding: 13px 30px 60px 30px;

}

.hotel_slider .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.hotel_slider .rating h6 {
    color: #000;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hotel_slider .rating h6 img {
    display: inline-block;
}

.hotel_slider .rating i {
    color: #eb830d;
    margin: 0 5px;
    font-size: 12px;
}

.hotel_slider .rating a {
    border-radius: 2px;
    background: #FF3A44;
    color: #FFF;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 5px 30px;
}

.hotel_slider .rating p {
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hotel_slider .img_content {
    padding: 10px;
}

.hotel_slider_heading {
    color: #000;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.hotel_slider .box {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 6px;
}

.hotel_slider .slick-initialized .slick-slide {
    padding: 0 10px;
}

.hotel_slider .image_box {
    position: relative;
}

.hotel_slider .image_box img {
    width: 100%;

}

.hotel_slider .wish_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 34px;
}

.popular_destination {
    padding-bottom: 50px;
}

.popular_destination p {
    color: #716E6E;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 7px;
    margin-bottom: 20px;
}

.gallery_box {
    display: flex;
    gap: 20px;
}

.gallery_box .leftBox {
    position: relative;
}

.gallery_box .leftBox img {
    height: 413px;
}

.gallery_box .rightBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery_box .img_div {
    width: 49%;
    height: 200px;
    position: relative;
}

.gallery_box .img_div img {
    width: 100%;
    height: 100%;
}

.cntOnImg {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.cntOnImg h5 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.cntOnImg p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.all_course.category.hotel-search .form-check {
    justify-content: inherit;
}

.all_course.category.hotel-search .form-check label {

    font-size: 14px;
    line-height: 15px;

}

.category.hotel-search .card-header h3 {

    font-size: 16px;
}

.all_course.category.hotel-search .card {
    border-top: 1px solid #222;
    border-radius: 0;
}

.all_course.category.hotel-search .card h6 {
    color: #716E6E;
    text-align: center;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popCourse-boxCnt.hotel_about_content {
    width: 100%;
}

.popCourse-boxCnt.hotel_about_content p {
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.popCourse-boxCnt.hotel_about_content span {
    color: #716E6E;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popCourse-boxCnt.hotel_about_content .cancelBtn {
    color: #000;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: rgba(217, 217, 217, 0.36);
    padding: 10px;
    display: inline-block;

}

.popCourse-boxCnt.hotel_about_content .discount {
    border-radius: 4px;
    background: #FF3A44;
    color: #FFF;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 12px;
}

.hotel-search .dream-job .box .imge {
    width: 292px;
    padding-right: 0;
}

.hotel-search .dream-job .box {
    gap: 30px;
}

.hotel-search .dream-job .box .imge img {
    width: 292px;
}

.small_gallery_img {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.small_gallery_img img {
    border-radius: 10px;
    width: 64px;
    height: 59px;
    cursor: pointer;
}

.popCourse-boxCnt.hotel_about_content h6 {
    margin: 7px 0;
}

.popCourse-boxCnt.hotel_about_content h5 {
    font-size: 26px;
}

.popCourse-boxCnt.hotel_about_content p img {
    margin-right: 5px;
}

.invisiblee {
    display: none;
}

.invisiblee.visible {
    display: block;
}

.hotel-search .dream-job .box {
    margin-bottom: 20px;
}

.hotel_search .location {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.hotel_search .inputBox {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hotel_search .inputBox .location_name {
    border: 0;
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.night_count {
    border-radius: 5.798px;
    background: #E4E4E4;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 8px;
}

.search_hotel_Btn {
    border-radius: 4.97px;
    background: #FF3A44;
    box-shadow: 0px 1.65666663646698px 8.283332824707031px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
    margin: 0 auto;
    display: table;
    margin-top: -20px;

}

.hotel_search .inputBox h4 {
    border: 0;
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.hotel_search .inputBox Img {
    position: absolute;
    top: -5px;
    right: 10px;
}

.hotel_search h6 {
    color: #000;
    font-family: Open Sans;
    font-size: 16.567px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}

.hotel_search label {
    color: #716E6E;
    font-family: Open Sans;
    font-size: 14.91px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.room_needBox {
    width: 230px;
    height: auto;
    background: #FFF;
    padding: 10px;
    box-shadow: 0px 3.31333327293396px 10.768332481384277px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 35px;
}

.room_need {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.room_need span {
    color: #716E6E;
    text-align: center;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.room_need h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.room_need .input_value {
    width: 23px;
    text-align: center;
    font-size: 14px;
    border: 0;
}

.room_need button {
    font-size: 12px;
    background: transparent;
}

.searchble_dropdown {
    position: absolute;
    width: 100%;
    height: auto;
    background: #FFF;
    padding: 10px;
    box-shadow: 0px 3.31333327293396px 10.768332481384277px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 35px;
    z-index: 2;
}

.searchble_dropdown li {
    padding: 5px;
}

.topRedPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topRedPart h6 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.topRedPart a {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
    padding: 8px 20px;
}

.topRedPart input {
    color: #DFDFDF;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    border-radius: 5px;
    background: #FFF;
    padding: 6px 10px;
    margin-top: 5px;
    width: 100%;
}

.topRedPartWrap {
    background: #FF3A44;
    padding: 5px;
}

.Singlehotel_details {
    margin-top: 10px;
    margin-bottom: 30px;
}

.Singlehotel_details h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.Singlehotel_details h5 i {
    color: #FFC907;
    margin: 4px;
    font-size: 14px;
}

.Singlehotel_details h6 {
    color: #000;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Singlehotel_details h6 a {
    color: #0075FF;
    font-weight: 700;
}

.Singlehotel_details .left img {
    width: 100%;
    height: 325px;
}

.Singlehotel_details .right {
    display: flex;
    gap: 20px;
}

.Singlehotel_details .right img {
    display: block;
    width: 318px;
    height: 154px;
}

.Singlehotel_details .lastImg {
    margin-top: 18px;
}

.Singlehotel_details .right-cnt {
    width: 100%;
}

.Singlehotel_details .right-cnt button {
    border-radius: 5px;
    border: 0.5px solid #F00;
    background: #FFF;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

.greemText {
    color: #5FA735;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 16px;
}

.Singlehotel_details .right-cnt span {
    display: block;
    color: #767171;
    font-family: Open Sans;
    font-size: 10.599px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Singlehotel_details .right-cnt h5 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0;
}

.Singlehotel_details .right-cnt .border_box {
    display: flex;
    justify-content: space-between;
    border-radius: 4.416px;
    border: 0.883px solid #000;
    padding: 13px 30px;
    align-items: center;
    margin-top: 20px;
}

.hotel_needthings {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C6C6C6;
    margin-bottom: 20px;
}

.hotel_needthings a {
    color: #3F3F3F;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
}

.hotel_needthings a:focus {
    color: #FF3A44;
    font-weight: 700;
    border-bottom: 2px solid #FF3A44;
}

.space_details {
    display: flex;
    width: 88%;
    justify-content: space-between;
}

.space_details {
    margin: 20px 0;
}

.space_details h6 {
    color: #000;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.For_Hotel_rooms .para {
    border-radius: 7px;
    background: #F2F2F2;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}

.For_Hotel_rooms .left_side img {
    width: 100%;
    height: 180px;
}

.more {
    color: #FF3A44;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.For_Hotel_rooms .right_side .top {
    background: rgba(255, 0, 0, 0.02);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.For_Hotel_rooms .right_side .top h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 50%;
}

.For_Hotel_rooms {
    margin-bottom: 30px;
}

.room_box_wrap {
    border-bottom: 1px solid #BABABA;
    padding: 20px 10px;
}

.room_box_wrap h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.room_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
}

.room_box .left {
    width: 40%;
}

.room_box .right {
    width: 52%;
}

.room_box h6 {
    margin: 10px 0;
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btnn {
    border-radius: 5px;
    border: 1px solid #FF3A44;
    color: #FF3A44;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 5px 15px;
    display: inline-block;
}

.Amenities {
    background: rgba(255, 0, 0, 0.02);
    padding: 20px 0 30px 0;
}

.single_hotel_heading {
    color: #000;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btnnn {
    border-radius: 1px;
    background: #DD2730;
    color: #FFF;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 5px 20px;
    display: inline-block;
}

.Amenities .service {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 30px;
}

.Amenities h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.Amenities .options {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;

}

.Amenities .options li {
    color: #515151;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    width: 99%;
}

.foodBox {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.foodBox h5 {
    width: 100%;
    color: #515151;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}

.foodBox h5 img {
    margin-right: 10px;
}

.food-dining .menu .img-box {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.food-dining .menu h6 {
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.food-dining {
    margin: 30px 0;
}

.food-dining .rating h6 {
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.food-dining .rating i {
    font-size: 14px;
    color: #FFC907;
    margin: 0 5px;
}

.property {
    background: rgba(255, 0, 0, 0.02);
    padding: 20px 0;
}

.review_rating {
    padding: 30px 0;
}

.review_rating .box_Wrap {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.review_rating .redBox {
    width: 153px;
    height: 198px;
    border-radius: 10px;
    background: linear-gradient(135deg, #FF3A44 0%, #FF693A 100%);
    text-align: center;
    color: #fff;
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.review_rating .redBox h4 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.review_rating .redBox h5 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.review_rating .redBox p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.review_rating .progress {
    width: 100%;
    height: 10px;

}

.review_rating .progress-bar {
    background: #FFC907;
}

.review_rating .progress_barLine .point {
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.progress_barLine {
    display: flex;
    gap: 10px;
    width: 50%;
    margin-bottom: 25px;
}

.bg_pink {
    background: rgba(255, 0, 0, 0.02);
    padding: 30px 0;
}

.customer_comments .box {
    display: flex;
    gap: 20px;
    border-bottom: 2px solid #888;
    padding: 20px 0;
}

.customer_comments .box img {
    width: 50px;
    height: 50px;
}

.customer_comments .cnt h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.customer_comments .cnt h5 span {
    color: #8E8E8E;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.customer_comments .cnt P {
    color: #353232;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.property_policies {
    margin: 30px 0;
}

.property_policies h5 {
    color: #353232;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    padding-bottom: 30px;
}

.property_policies h5 img {
    margin-right: 10px;
}

.hotel_location {
    margin: 30px 0;
}

.hotel_location .map {
    margin-top: 20px;
}

.similar_properties .box {
    box-shadow: 2px 2px 15px 0px rgba(255, 0, 0, 0.15);
}

.similar_properties {
    margin-top: 30px;
}

.similar_properties .cont {
    border-radius: 3px;
    background: #FFF;

    padding: 10px;
}

.similar_properties .star i {
    color: #FFC907;
    margin-right: 5px;
}

.similar_properties h5 {
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0;
}

.similar_properties span {
    color: #636363;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.similar_properties h4 {
    color: #353232;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.similar_properties h4 img {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.similar_properties .review {
    padding: 10px;
}

.similar_properties .slick-initialized .slick-slide {
    padding: 0 10px;
}

.similar_properties .box .image img {
    width: 100%;
    height: 193px;
}

.similar_properties .slick-prev:before {
    content: '\f177' !important;
    font-family: FontAwesome !important;
    font-size: 27px !important;
    line-height: 1;
    opacity: 1 !important;
    color: rgb(0, 0, 0) !important;
    display: flex;
    background-color: #fff;
    width: 52px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 3.026px;
}

.similar_properties .slick-next:before {
    content: '\f178' !important;
    font-family: FontAwesome !important;
    font-size: 26px !important;
    line-height: 1;
    opacity: 1 !important;
    color: rgb(255 253 253) !important;
    display: flex;
    background-color: #fff;
    width: 52px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 3.026px;
    background: #FF000D;
}

.similar_properties .slick-prev {
    font-size: 48px !important;
    line-height: 0;
    position: absolute;
    bottom: -36px !important;
    display: block;
    width: 20px;
    top: -12% !important;
    height: 20px;
    padding-top: 11px !important;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.similar_properties .slick-next {
    font-size: 48px !important;
    line-height: 0;
    top: -12% !important;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    padding-top: 11px !important;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.similar_properties .slick-next {
    right: 2% !important;
}

.similar_properties .slick-prev {
    left: 90% !important;
}

.pagination {
    justify-content: center;
    align-items: center;
}

.paginationwrapper {
    margin-top: 30px;
}

.paginationwrapper ul li a {
    align-items: center;
    /* background: #DD2730; */
    background: linear-gradient(135deg, #FF3A44 0%, #FF3F43 34.38%, #FF813A 100%);
    border-radius: 100px;
    box-shadow: none;
    color: #fff;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 30px;
    justify-content: center;
    line-height: 24px;
    text-align: center;
    width: 30px;
}

.paginationwrapper ul li .page-link:hover {
    z-index: 2;
    color: #000;
    text-decoration: none;
    background: #e9ecef;
    border-color: #dee2e6;
}

.paginationwrapper ul li {
    margin-right: 15px;
}

.hotel_info_bg {
    background: #FF3A44;
    height: 298px;
    position: absolute;
    top: 66px;
    width: 100%;
}

/***hotel-info****/
.Hotel_Information {

    z-index: 9;
    position: relative;
}

.hotel_info_wrapper_cnt .card {
    margin-bottom: 20px;
    border-radius: 8px !important;
    background-color: #fff !important;
    padding: 15px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);

}

.hotel_info_wrapper_cnt .card-header {
    padding: 0 0 10px 0;
    border-bottom: 0;
   
}

.hotel_info_wrapper_cnt .card-header button {
    padding: 0;
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hotel_info_wrapper_cnt .card-header h2{
line-height: 23px;
}
.hotel_info_wrapper_cnt .collapsible-link::before {
    content: "\f107";
    position: absolute;
    right: 0.8rem;
    transform: translateY(-5%);
    display: block;
    font-family: "FontAwesome";
    font-size: 1.1rem;
    border-radius: 27px;
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 29px;
    color: #000;
}
.hotel_info.Singlehotel_details{
margin-bottom: 0;
}
.hotel_info_wrapper_cnt .collapsible-link[aria-expanded="true"]::before {
    content: "\f106";
}
.hotel_info .wrapper {
    display: flex;
    gap: 20px;
}

.hotel_info .pink_wraper {
    display: flex;
    gap: 40px;
    border-radius: 10px;
background: rgba(255, 235, 236, 0.20);
padding: 20px;
margin: 20px 0;
}
.hotel_info .pink_wraper h6{
    color: #464646;
font-family: Open Sans;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.hotel_info .pink_wraper h4{
    color: #000;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 10px 0;
}
.hotel_info .box .top{
    background-color: #FF3A44;
    padding: 15px;
    border-radius: 10px 10px 0 0;

}
.hotel_info .box .top h5{
    color: #FFF;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 0;
}
.hotel_info .bottom{
    border-radius: 10px;
background: rgba(255, 235, 236, 0.20);
padding: 15px;

}
.hotel_info .bottom h4{
    color: #000;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 10px;
}
.hotel_info .bottom  h6{
    color: #000;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hotel_info .bottom .Border{
    border-left: 2px solid #A4A4A4;
    padding: 10px;
}
.guest-details label{
    color: #000;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.guest-details .mob-no .form-group{
    margin-bottom: 30px;
}
.guest-details .mob-no select{
width: 20%;
border: 0;
background-color: #D1E5FF;
border-radius: 4px 0 0px 4px;
}
.guest-details .mob-no input{
    border-radius: 0 4px 4px 0;
}
.pin_state{
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);

}
.Hotel_Information .form-check{
    display: flex;
    align-items: center;
    padding-left: 0;
}
.Hotel_Information select{
    font-size: 14px;
}
.Hotel_Information .form-check label{
    font-size: 14px;
}
.pin_state h3{
    color: #000;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
}
.pin_state span{
    color: #585858;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 20px;
display: inline-block;
}
.pin_state .state label{
    font-size: 11px;
    background-color: #fff;
    padding: 0 5px;
    margin-left: 7px;
}
.pin_state .state select{
    margin-top:-15px;
}
.Hotel_Information input{
    font-size: 14px;
}
.Hotel_Information .state{
    margin-top: -20px;
}
.btnn_red{
    width: 100%;
    border-radius: 5px;
background: #FF3A44;
box-shadow: 0px 1.65667px 8.28333px 0px rgba(0, 0, 0, 0.20);
padding: 10px 20px;
color: #FFF;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: block;
    text-align: center;
}
.hotel_info_wrapper_cnt{
  
    margin:20px 0 50px 0;

}
.payment_option .price-details .top{
display: flex;
justify-content: space-between;
border-bottom: 1px solid #C6C6C6;
padding-bottom: 10px;
gap: 20px;
padding-top: 0;
}
.payment_option .price-details{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.payment_option .price-details .top h3{
    color: #000;
font-family: Open Sans;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.payment_option .price-details .wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 15px;
}
.payment_option .price-details .wrap h6{
    color: #000;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hotel_info_wrapper_cnt .price-details .wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 15px;
}
.hotel_info_wrapper_cnt .price-details .wrap h6{
    color: #000;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/****payment-option****/
.payment_option .top{
    border-bottom: 1px solid #C6C6C6;
    padding: 15px 0;
}
.payment_option h2{
    color: #000;
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 20px 0;
}
.payment_option h2 span{
    color: #FF3A44;
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.payment_option .leftBox{
    border-radius: 10px;
background: #FFF;
box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);
padding: 15px;
}
.payment_option .leftBox .topPart{
    border-radius: 5px;
background: #F8FBFF;
padding: 10px;
}
.payment_option .leftBox .bottomPart{
    border-radius: 5px;
border: 1px solid #A3A3A3;
background: #F8FBFF;
margin-top: 30px;
}
.payment_option .leftBox .bottomPart .custom{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #A3A3A3;
    margin-bottom: 10px;
}
.payment_option .leftBox .bottomPart .boxx{
    padding: 10px;
}
.payment_option .leftBox .bottomPart .custom h4{
    color: #000;
font-family: Open Sans;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.payment_option .leftBox .bottomPart .custom .img{
    width: 57px;
height: 57px;
border: 1px solid #D9D9D9;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.payment_option .leftBox .bottomPart .custom  img{

    width: 23px;
    height: 23px;
}
.payment_option .leftBox .bottomPart h2{
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 1px solid #A3A3A3;
    margin: 0;
    padding: 10px;
}
.payment_option .leftBox .wrap{
    display: flex;
    justify-content: space-between;
}
.payment_option .leftBox .wrap h4{
    color: #000;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.payment_option  .flex_wrap{
display: flex;
gap: 50px;
margin-top: 10px;
}
.payment_option .onclick_show .flex_wrap{
    display: flex;
justify-content: space-between;
    margin-top: 10px;
    }
.payment_option .flex_wrap h5{
    color: #000;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.payment_option .flex_wrap span{
    color: #4D4D4D;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
@media (max-width:1199px) {
    .similar_properties .slick-prev {
        left: 85% !important;
    }

    .similar_properties .slick-next {
        right: 3% !important;
    }
}

@media (max-width:991px) {
    .price_summary{
        margin-top: 30px;
    }
    .guest-details .mob-no select {
        width: 30%;

    }
    .Singlehotel_details h5 span{
        display: block;
    }
    .Amenities .service {
        width: 100%;
        flex-wrap: wrap;
    }

    .hotel_needthings {
        overflow-x: auto;
        white-space: nowrap;
        gap: 20px;
    }

    .topRedPart {
        flex-wrap: wrap;
    }

    .onclickImageBox {
        margin: 0 auto;
    }

    .Singlehotel_details .right {
        margin-top: 30px;
    }
}

@media (max-width:767px) {
    .payment_option .leftBox .wrap h4{
        font-size: 18px;
    }
    .payment_option .flex_wrap{
        flex-wrap: wrap;
        gap: 20px
    }
    .similar_properties .box {
        margin-top: 35px;
    }

    .similar_properties .slick-next:before {
        font-size: 17px !important;
        width: 30px;
        height: 30px;
    }

    .similar_properties .slick-prev:before {
        font-size: 17px !important;
        width: 30px;
        height: 30px;
    }

    .similar_properties .slick-prev {
        left: 42% !important;
        top: -2% !important;
    }

    .similar_properties .slick-next {
        right: 42% !important;
        top: -2% !important;
    }

    .foodBox {
        width: 100%;
        flex-wrap: wrap;
    }

    .Amenities .options li {
        width: 100%;
    }

    .Amenities .options {
        gap: 20px;
        flex-wrap: wrap;
    }

    .Amenities .service h5 {
        margin: 5px 10px;
    }

    .Amenities h5 {

        font-size: 16px;
    }

    .Singlehotel_details .lastImg {
        margin-top: 0;
    }

    .Singlehotel_details .right .Gallery {
        display: flex;
        justify-content: space-between;
    }

    .Singlehotel_details .right img {
        width: 48%;
    }

    .Singlehotel_details .right {
        flex-wrap: wrap;
    }

    .cntOnImg {
        padding: 15px;
    }

    .cntOnImg h5 {
        font-size: 14px;
    }

    .gallery_box .leftBox img {
        height: 260px;
    }

    .gallery_box {
        flex-wrap: wrap;
    }

    .gallery_box .leftBox {
        width: 100%;
    }

    .gallery_box .leftBox img {
        width: 100%;
    }

    .progress_barLine {
        width: 100%;
    }
}

@media (max-width:575px) {
    .payment_option h2 {

        font-size: 20px;
    }
    .pin_state span {
        font-size: 13px;
    }
    .Hotel_Information input {
        font-size: 12px;
    }
    .Hotel_Information select {
        font-size: 12px;
    }
    .guest-details label {
        font-size: 15px;

    }
    .guest-details .mob-no select {
        width: 50%;
        padding: 5px 5px;
    }
    .foodBox h5 {
        font-size: 15px;
    }

    .food-dining .menu .img-box {
        flex-wrap: wrap;
    }
}

@media (max-width:480px) {
    .payment_option .leftBox .wrap{
        flex-wrap: wrap; 
    gap: 10px;

    }
    .review_rating .redBox {
        margin: 0 auto;
    }

    .review_rating .box_Wrap {
        flex-wrap: wrap;
    }

    .food-dining .rating i {
        font-size: 9px;
        margin: 0 2px;
    }

    .food-dining .rating h6 {
        font-size: 14px;
    }

    .room_box {
        padding-left: 15px;
    }

    .room_box .left {
        width: auto;
    }
}

@media (max-width:420px) {
    .customer_comments .cnt P {

        font-size: 13px;

    }

    .single_hotel_heading {
        font-size: 18px;

    }

    .similar_properties .slick-next {
        right: 40% !important;
    }

    .similar_properties .slick-prev {
        left: 40% !important;
    }
    .hotel_info .wrapper{
        flex-wrap: wrap;
    }
    .hotel_info .wrapper img{
        margin: 0 auto;
    }
    .hotel_info .pink_wraper {
   
        gap: 15px;
    }
    .hotel_info .pink_wraper h4{
        font-size: 13px;
    }
}