.zigzag .right {
    padding-right: 40px;
}

.zigzag .right ul span {
    display: block;
}

.zigzag .right h3 {
    color: #000;
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 45px;
}

.zigzag .right ul {
    padding-left: 25px;
}

.zigzag .right ul li {
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;

}

.zigzag .right ul li span {
    color: #000;
    font-family: Open Sans Hebrew Condensed;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    margin-top: 10px;
}

.exploreBtn {
    color: #FF3A44;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #FF3A44;
    width: 222px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.cust-container {
    padding: 0 80px;
}

.zigzag {
    background-repeat: no-repeat;
    background-size: 43%;
    background-position: 0% 0%;
    position: relative;
    padding: 30px 0 30px 0;
}
.zigzag.donation .right ul li{
list-style: disc;
font-size: 14px;
}

.zigzag.FirstStep{
    margin-bottom: 50px;
}
.zigzag.LastStep{
    margin-bottom: 70px;
}
.zigzag .left img {
    width: 100%;
}

/****about****/
.about-bushido h2 {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.about-bushido p {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 38px;
}

.about-bushido .read-more {
    border-radius: 5px;
    background: #455A64;
    display: flex;
    width: 188px;
    height: 57px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
}

.about-bushido {
    padding-top: 50px;
    padding-bottom: 30px;
}

/****gallery***/
.gallery {
    padding: 60px;
}

.gallery .box {
    position: relative;
}

.gallery .box .Cnt {
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    padding-bottom: 10px;

}

.gallery .box .Cnt h3 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.gallery .box .Cnt p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    height: 45px;
    overflow-y: hidden;
}

/****faq****/
.Faq .collapsible-link {
    width: 100%;
    position: relative;
    text-align: left;
    color: #000;
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.card-header{
    padding: .75rem 0;
}
.card-body{
    padding: 1.25rem 0;
}
.Faq .card-body p{
    color: #000;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    max-width: 80%;
    text-align: justify;
    
}
.Faq .collapsible-link::before {
    content: "\f107";
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: "FontAwesome";
    font-size: 1.1rem;
    border-radius: 35px;
    background: #E0E0E0;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 29px;

}

.Faq .collapsible-link[aria-expanded="true"]::before {
    content: "\f106";
}

.Faq {
    padding-bottom: 60px;
}

.Faq .card {
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;

}

.Faq h1 {
    color: #000;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.Faq .btn {
padding: 0;
}
/***reacharge*****/
.reacharge{
    background: #FF3A44;
    padding: 30px 0;
    color: #fff;
}
.reacharge h3{
    color: #FFF;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
}
.reacharge .wrapper{
    display: flex;
    justify-content: center;
}
.reacharge .wrapper .box{
    width:20%;
    text-align: center;
}
.reacharge .boximg{
    width: 145px;
height: 145px;
background-color: #fff;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto 20px auto;
}
.reacharge .boximg img{
    width: 58px;
    height: 46px;
}
.reacharge .box h5{
padding-bottom: 10px;
color: #FFF;
font-family: Open Sans Hebrew Condensed;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.reacharge .box h6{
    color: #FFF;
text-align: center;
font-family: Open Sans Hebrew Condensed;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
/****transaction****/
.transaction{
    margin: 30px 0 70px 0;
}
.transaction .bottomPart{
    padding: 0 55px;
    margin-top: -13%;
}
.transaction .topPart{
    background: #000;
    height: 300px;
    color: #fff;
    padding: 30px 55px;
}
.transaction .wrapper img{
    width: 100%;
}
.transaction .topPart h2{
    color: #FFF;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.transaction .topPart p{
    color: #FFF;
font-family: Open Sans Hebrew Condensed;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 20px;
}
/****digital-money****/
.digital-money h2{
    color: #000;
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 25px;
}
.digital-money p{
    color: #3B3B3B;
font-family: Open Sans Hebrew Condensed;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 40px;
}
.digital-money a{
    display: flex;
width: 255px;
height: 50px;
padding: 10px;
justify-content: center;
align-items: center;
color: #FFF;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 5px;
background: #FF3A44;
}
.digital-money .leftCnt{
display: flex;
justify-content: center;
flex-direction: column;
height: 100%;
}
.digital-money .rightImg img{
    width: 100%;
}

/****newsletter****/
.newsletter {
    text-align: center;
    padding: 70px 0;
    max-width: 70%;
    margin: 0 auto;
}

.newsletter h3 {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 23px;
}

.newsletter p {
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 30px;
}

.newsletter input {
    border-radius: 10px;
    background: #FFF;
    width: 540px;
    height: 70px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border: 1px solid #ACACAC;
    color: #ACACAC;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}

.subscription {
    border-radius: 10px;
    background: #FF3A44;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 70px;
    width: 210px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    display: flex;
}

.mailBox {
    display: flex;
    justify-content: center;
}

/***application****/
.application .img {
    /* background-image: url(../../images/NewProject.png); */
    background: linear-gradient(136deg, #ABCDE7 0%, rgba(171, 205, 231, 0.00) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    display: flex;

}

.application .left {
    width: 52%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.application .wrap {
    width: 39%;
    margin-left: auto;
    margin-right: 10px;
    padding: 62px 0;

}

.application .wrap h3 {
    color: #000;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.application .wrap p {
    color: #000;
    font-family: Open Sans Hebrew Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 0 60px 0;
}

.application .wrap a {
    margin-right: 20px;
}

.application .leftImg {
    width: 46%;
}

.application .rgtImg {
    width: 46%;
}

/****responsive****/
@media (max-width:991px) {
    .zigzag .right h3 {
        font-size: 25px;
    }
    .zigzag .right ul li {
        font-size: 17px;
    }
    .zigzag .right{
        padding-right: 0;
    }
    .digital-money h2 {
        font-size: 30px;
    }
    .reacharge .wrapper{
        flex-wrap: wrap;
    }
    .reacharge .wrapper .box{
        width:50%;
        margin-bottom: 30px;
    }
    .application .wrap h3 {
        font-size: 28px;
    }

    .application .wrap a {
        margin-right: 5px;
    }
}

@media (max-width:767px) {
    .application .wrap p{
        padding: 15px 0 30px 0;
        text-align: justify;
    }
    .zigzag.FirstStep {
        margin-bottom: 10px;
    }
    .zigzag.LastStep {
        margin-bottom: 10px;
    }
    .zigzag {
        padding: 30px 0 30px 0;
    }
    .orderTwo{
        order: 2;
    }
    .orderOne{
        order: 1;
    }
    .reacharge .boximg img{
        width: 47px;
        height: 35px;
    
    }
    .reacharge .boximg {
        width: 110px;
        height: 110px;}
    .gallery .box .Cnt h3 {

        font-size: 23px;
    }
    .digital-money{
        padding-top: 30px;
    }
    .digital-money p {

        padding-bottom: 20px;
    }
    .digital-money h2 {
        font-size: 25px;
    }
    
    .transaction .bottomPart {

        margin-top: -26%;
    }
    .transaction .topPart {
    
        padding: 18px 25px;
    }
    .transaction .bottomPart {
        padding: 0 25px
    }
    .transaction .topPart h2 {
        font-size: 25px;
    }
    .transaction {
        margin: 20px 0;
    }
    .transaction .wrapper img{
        margin-bottom: 30px;
    }
    .Faq .collapsible-link {
 
        font-size: 15px;
        max-width: 90%;
    }
    .Faq .collapsible-link::before {

        right: -3.2rem;
    }
    .Faq .card-body p {

        font-size: 14px;
    }
    .Faq h1 {
        color: #000;
        font-family: Open Sans;
        font-size: 28px;

    }
    .application .img {
        padding: 0 30px;
    }

    /* .application .leftImg{
        width:100%;
    }
    .application .rgtImg{
        width:100%;
    } */
    .application .wrap {
        width: 100%;
    }

    .application .left {
        width: 100%;
    }

    .application .img {
        flex-direction: column;
    }

    .newsletter {
        text-align: center;
        padding: 30px 0;
    }

    .newsletter h3 {
        margin-bottom: 8px;
    }

    .newsletter input {
        font-size: 18px;
        width: 442px;
        height: 52px;
    }

    .subscription {

        font-size: 18px;

        height: 52px;
        width: 160px;

    }

    .newsletter {
        max-width: 100%;
    }

    .newsletter h3 {
        font-size: 26px;
    }

    .newsletter p {
        font-size: 15px;
    line-height: 23px;
    text-align: justify;
    }

    .gallery {
        padding: 20px;
    }

    .gallery .box {
        margin-bottom: 20px;
    }

    .zigzag .left {
        margin-bottom: 20px;
    }
}

@media (max-width:575px) {
  
    .Faq .collapsible-link {
 
        max-width: 80%;
    }
    .cust-container {
        padding: 0 15px;
    }

    .zigzag .right h3 {
        color: #000;
        font-size: 22px;
        padding-bottom: 28px;
    }

    .zigzag .right ul li {
        font-size: 17px;
        margin-bottom: 16px;
    }

    .exploreBtn {
        font-size: 20px;
        width: 133px;
        height: 47px;

    }

    .zigzag {
        margin-bottom: 0;
    }

    .zigzag .right ul li span {
        font-size: 14px;
        line-height: 21px;
    }
}

@media (max-width:480px) {
    .application .img {
        padding: 0px 12px;
    }
    .reacharge .wrapper .box{
        width: 100%;
    }
    .reacharge h3{
        font-size: 25px;
        text-align: center;
    }
    .about-bushido h2 {
        font-size: 28px;
        margin-bottom: 9px;
    }

    .about-bushido .read-more {

        width: 166px;
        height: 48px;

        font-size: 18px;
    }

    .about-bushido p {

        font-size: 15px;
        line-height: 23px;
        text-align: justify;
    }

    .newsletter input {
        width: 100%;
        margin-bottom: 20px;
    }

    .mailBox {
        flex-wrap: wrap;
    }
}