/***ott-home***/
.best_selling_product_bg {
    padding: 30px 0;
}

.Ott-home .best_selling_product_bg_img_txt {
    padding: 0;
    background-color: transparent;
}

.Ott-home .best_selling_product_bg {
    height: 374px;
    padding: 0;
}

/***single-movie***/

.single-movie {
    padding: 0 0 30px 0;
}
.single-movie .Movietype{
    justify-content: left;
}
.movie-screen {
    background: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0.05) 100%), url(../../images/Rectangle503.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 512px;
    width: 100%;
    color: #fff;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    position: relative;

}
.movie-screen .videoIcon{
    top: 41%;
    left: 50%;
    transform: inherit;
}
.movie-screen h3{
    color: #FFF;
font-family: Open Sans;
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.movie-screen img{
    margin-right: 10px;
}
.movie-screen h6{
    color: #FFF;
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.movie-btn {
    border-radius: 5px;
    background: rgba(222, 200, 0, 0.74);
    padding: 10px;
    color: #000;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.u-box{
    border-radius: 2px;
background: #FFF;
display: flex;
width: 30px;
height: 28px;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
color: #000;
margin-right: 10px;
}
.m-dot{
    width: 6px;
height: 6px;
background-color: #D9D9D9;
border-radius: 50%;
margin: 0 10px;
}
.single-movie .episodeDetails p {
    color: #000;
    margin-bottom: 18px;
}
.single-movie .best_selling_product_bg {
    height: 374px;
    padding: 0;
}
.single-movie .best_selling_product_bg_img_txt {
    padding: 0;
    background-color: transparent;
}
/***single-tv-series*****/

.podcast-banner-slide.tvSeries{

background: linear-gradient(133deg, #000 0%, rgba(0, 0, 0, 0.00) 100%),url(../../images/Rectangle505.png);
}
.podcast-banner-slide.tvSeries .boxCnt {
    padding: 10px;
    width: 109%;
}
.podcast-banner-slide.tvSeries .box {
    height: 100%;
    display: flex;
    align-items: end;
}
.podcast-banner-slide.tvSeries .box p {
    margin: 6px 0;
}
/***subscription***/
.ott-subscription{
    background:linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #000 100%), url(../../images/grpImage.png);
    padding: 100px 30px 51px 30px;
}
.ott-subscription .wrap{
display: flex;
justify-content: space-between;
}
.ott-subscription .box{
    border-radius: 9.508px;
border: 1.902px solid #FF003D;
background: linear-gradient(180deg, #FF003D 25.52%, #F24E1E 100%);
box-shadow: 0px 0px 19.016393661499023px 0px rgba(0, 0, 0, 0.25) inset;
color: #fff;
padding: 10px;
margin: 5px;
/* border-radius: 9.508px;
border: 3.423px solid #FF003D;
background: rgba(217, 217, 217, 0.00); */
}
.ott-subscription h3{
    color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 28.525px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 2.282px;
text-transform: capitalize;
margin-bottom: 20px;
}
.ott-subscription h6{
    color: #FFF;
font-family: Open Sans;
font-size: 17.115px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.369px;
text-transform: capitalize;
margin-bottom: 30px;
}
.ott-subscription h2{
    color: #FFF;
font-family: Open Sans;
font-size: 38.033px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 3.043px;
text-transform: capitalize;
}
.ott-subscription h5{
    color: #FFF;
font-family: Open Sans;
font-size: 19.016px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.521px;
text-transform: capitalize;
}
.boxWrap{
    border-radius: 9.508px;
border: 3.423px solid #FF003D;
background: rgba(217, 217, 217, 0.00);

}
@media (max-width:767px){
    .movie-screen {
        height: 430px;
    }
    .movie-screen h3 {
      
        font-size: 23px;
    }
    .single-movie .Movietype span{
font-size: 12px;
    }
    .m-dot, .v-line{
        margin: 0 5px;
    }  
    .movie-screen h6{
        font-size: 14px;
    }  
    .movie-btn {
        padding: 5px;
        font-size: 14px;
    }
    .movie-screen{
        padding-left: 15px;
    }
}