.category{
    padding-bottom: 30px;
}
.category .sidewrap{
    background: #FFF;
box-shadow: 4px 0px 13px 0px rgba(0, 0, 0, 0.11);
padding: 30px;
}
.shoe{
    border-radius: 10px;
    border: 1px solid #000;
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 5px 15px;
    display: inline-block;
    margin: 20px 0 0 0;
}
.accordion-head i {
    font-size: 1.5rem;
    float: right;
    color: #1a1668;
}
.accordion-head > .collapsed > i:before {
    content: "\f105";
}
.card-header h3 {
    color: #000;
    font-family: Open Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.card-header{
background-color: transparent;
border-bottom: 0;
}
.price h5{
    color: #000;
    font-family: Open Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.more-disc{
    color: #FF3A44;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.category .form-check{
margin: 15px 0;
}