*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.btn:focus{
  box-shadow: none;
}
.btn-link:hover{
  text-decoration: none;
}
.btn-link:focus {
  text-decoration:none;
}
:focus-visible {
  outline: none;
}
html,body{
max-width: 100%;
overflow-x: hidden;
font-family: Open Sans;
}
h1,h2,h3,h4,h5,h6,ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}
a{
  color: #000;
}
a:hover{
  text-decoration: none;
  color:#000;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 13px;

}
.topicBtn::-webkit-scrollbar {
  width: 5px !important;
  height: 5px;
  border-radius: 13px;

}
.topicBtn::-webkit-scrollbar-thumb {
  background-color:  #E1D8D8;

}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 13px;
  background-color: #FF3A44 ;
}
/***login-modal***/
.loginModalWrapper{
  position: fixed;
  display: grid;
  justify-content: center;
  align-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2%;
  z-index: 6;
}
.loginModal{
  display: flex;
  margin: 0 auto;
  width: 937px;
  border-radius: 10px;
  background: #FFF;
  height: 448px;
  padding: 14px 45px 30px 45px;
  justify-content: space-between;
  align-items: center;
  margin-top: 66px;
  
}
.loginModal h5{
  color: #25333A;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 40px;
}
.loginModal ul li{
  color: #000;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 40px;
}
.loginModal a{
  border-radius: 5px;
border: 1px solid #000;
width: 255px;
height: 50px;
padding: 10px;
display: inline-block;
margin-top: 40px;
display: flex;
justify-content: center;
}
.barCode{
  border: 1px solid #000;
  padding: 20px;
  width: 265px;
  height: 265px;
}
.barCode img{
width: 100%;
height: 100%;
}
/****sidebar***/

.Sidebar.slide-right.show-example{
  
  transform: translate(0%, 0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;

}
.SidebarClose{
  color: #000;
  font-size: 23px;
  position: absolute;
  right: 17px;
  top: 65px;
}
.Sidebar.slide-right{
  transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.Sidebar{
  position: fixed;
  top: 0;
  padding-top: 66px;
  width: 18rem;
  background-color: #E1D8D8;
  right: 0;
  z-index:2;
  display: block;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;

}

.Sidebar ul{
padding: 30px;
}
.Sidebar ul li .small-pop{
  opacity: 0;
  visibility: hidden;
}
.Sidebar ul li .small-pop a{
  padding-bottom: 0;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 13px;
}
.Sidebar ul li:hover .small-pop {
  opacity: 1;
  visibility: visible;
}
.Sidebar ul li:hover i{
  transform: rotate(178deg);
}
.Sidebar ul li a{
  color: #000;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: inline-block;
}
/****header****/
.header .small-pop{
  opacity: 0;
  visibility: hidden;

}
.header .wraper ul li{
  padding: 2px 0;
}
.small-pop h5{
  cursor: pointer;
}

.header .wraper ul li:hover .small-pop{
opacity: 1;
visibility: visible;
}
.header .wraper ul li:hover i{
  transform: rotate(178deg);
}
.header .small-pop h5 {
  font-size: 17px;
}
.nav__link:after {
  content: '';
  position: absolute;
  z-index: 10;
  width: 0;
  left: 0;
  bottom: -5px;
  margin: auto;
  height: 1px;
  background: #fff;
  transition: ease all 0.2s;
}
.nav__link.active:after {
  opacity: 1;
  width: 75%;
}
.nav-link{
  padding: 0;
}
.header{
  background: #E1D8D8;
  padding: 12px 0;
  height: 66px;
  /* position: fixed;
  top: 0;
  width: 100%;
  z-index:9; */
}
.header .wraper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wraper ul{
  display: flex;
}
.header .wraper ul li a{
  color: #000;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0 18px;
text-transform: uppercase;
position: relative;
}
.header .wraper ul li .small-pop h5 a{
  margin: 0;
  text-transform: capitalize;
}
.header.fixed {
  position: fixed;
  top:0;
  z-index: 99;
  width: 100%;
  right: 0;
  background: #fffafa;
}

.account{
  color: #000;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 36px;
  text-transform: uppercase;
  border-radius: 44px;
border: 1px solid #25333A;
width: 109px;
height: 42px;
display: flex;
align-items: center;
justify-content: center;
}
.menuPart{
  display: flex;
  align-items: center;
}
.toggole{
  color: #000;
  display: none;
}
/* .mainpage {
  padding-top: 30px;
} */
/****footer****/
.footer{
  background: #ECECEC;
  padding: 50px 0;
}
.footer .wrap{
display: flex;
justify-content: space-between;
}
.footer .wrap .leftBox{
width: 36%;

}
.footer .wrap .leftBox p{
  padding: 20px 0;
  color: #000;
font-family: Open Sans Hebrew Condensed;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer .wrap .leftBox span{
  color: #000;
  font-family: Open Sans Hebrew Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .wrap .rgtBox{
  width: 60%;
  display: flex;
justify-content: end;
padding: 50px 0 0 0;
  }
  .footer .wrap .rgtBox ul{
    padding-right: 50px;
  }
  .footer .wrap .rgtBox h5{
    color: #000;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 220%;
position: relative;
margin-bottom: 20px;
  }
  .footer .wrap .rgtBox h5:after{
    content: "";
    position: absolute;
    width:40%;
    border-bottom: 3px solid #000;
    bottom: 0;
    left: 0;
  }
  .footer .wrap .rgtBox ul li a{
    color: #000;
font-family: Open Sans Hebrew Condensed;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 15px;
display: inline-block;
  }
  .social-media a{
color:#000;
font-size: 23px;
margin-right: 20px;
  }
  .social-media a:nth-child(4){
    margin-right: 0;
  }
/****responsive*****/
@media (max-width:1199px){
  .header .wraper ul li a {
    font-size: 14px;
    padding-left: 17px;
}
}
@media (max-width:991px){
  .barCode {
    width: 220px;
    height: 220px;
}
  .loginModal ul li {
    margin-bottom: 17px;
}
  .loginModal{
width: 100%;
  }
  .footer .wrap .leftBox {
    width: 100%;
}
  .footer .wrap{
    flex-wrap: wrap;
  }
  .footer .wrap .rgtBox {
    width: 100%
  }
  .account {
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 22px;
    text-transform: uppercase;
    border-radius: 44px;
    border: 1px solid #25333A;
    padding: 7px;
}
.header .wraper ul li a {
  font-size: 12px;
  padding-left: 14px;
}
}
@media (max-width:767px){
  .loginModal a {
    width: 210px;
    margin-top: 25px;
}
.barCode {
  width: 172px;
  height: 172px;
  padding: 15px;
}
  .loginModal h5 {
    font-size: 20px;
    margin-bottom: 23px;
}
.loginModal ul li{
  margin-bottom: 10px;
  font-size: 16px;
}
  .bb-box{
    margin-bottom: 30px;
  }
  .loginModal{
    flex-wrap: wrap;
 overflow-y: auto;
 overflow-x: hidden;

  }
  .barCode{
    margin: 20px auto 0 auto;
  }
  .barCode img{
    width: 100%;
  }
 
  .footer .wrap .rgtBox ul {
    padding-right: 41px;
    width:50%;
}
.footer .wrap .rgtBox .servicePart{
  width: 50%;
}
  .footer .wrap .leftBox{
    width: 100%;
  }
  .footer .wrap{
 flex-wrap: wrap;
  }
  .footer .wrap .rgtBox{
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .toggole{
    display: block;
  }
  .header .wraper ul{
    display: none;
  }
}
@media (max-width:533px){

  .footer .wrap .rgtBox h5{
    display: inline-block;
  }
  .footer .wrap .rgtBox h5:after {
    width: 100%;
  }
  .footer .wrap .rgtBox ul {
    padding-right: 0;
}

}