.business_home {
    padding-top: 30px;
}

.podcastTab_explr_btn {
    display: flex;
    align-items: center;
    gap: 43px;
    margin: 0;
    justify-content: space-between;
}

.podcast_explr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.business-explr_btn {
    border-radius: 5px;
    background: #263238;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.business-explr_btn:hover {
    color: #FFF;
    background: #263238;
}

.business-explr_btn i {
    margin-left: 5px;
}

.business-explr_btn i:hover {
    transform: rotate(178deg);
}

/**** business_investment_return  ****/
.business_investment_return {
    border-radius: 0px 0px 80px 80px;
    border-right: 0.4px solid #FF725E;
    border-bottom: 0.4px solid #FF725E;
    border-left: 0.4px solid #FF725E;
    background: linear-gradient(180deg, rgba(255, 128, 110, 0.00) 0%, rgba(255, 128, 110, 0.88) 48.47%, #F82103 100%);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 23px;

}

.business_investment_return_main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: end;
}

.business_investment {
    /* height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end; */
    margin-left: 50px;
}

.business_return {
    /* height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end; */
    margin-right: 50px;
}

h5.business_investment_amnt {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

p.business_investment_total {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
}

/**** business_invest_ftse ****/
.business_invst_crd {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 34px 20px;

}

.business_invest_ftse .slick-slide {
    padding: 10px;
}

.business_invst_crd_ftse_amnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
}

h5.business_invst_crd_ftse_hhh {
    color: #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

p.business_invst_crd_ftse_amnt_ppp {
    color: #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

p.business_invst_crd_ftse_amnt_ppp_percent {
    color: #2EC914;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

/****  ****/
.business_balance_for_stock {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.business_available_txt_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    flex-wrap: nowrap;
}

.business_mny_btn {
    border-radius: 5px;
    background: #FF3A44;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    padding: 14px 30px;
}

.business_mny_btn:hover {
    color: #fff;
    text-decoration: none;
    background: #FF3A44;
}

h5.business_available_txt_hhh {
    color: #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

p.business_available_txt_ppp {
    color: #000;
    font-family: 'Open Sans';
    font-size: 23px;
    font-weight: 600;
    line-height: 28px;
    padding-top: 10px;
}

/**** business_all_companies ****/
h4.business_companies_txt {
    color: #000;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

.business_companies_brdr_main {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.business_companies_brdr {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 50px;
}

.business_companies_brdr_img {
    width: 42px;
    height: 43px;
}

.business_companies_brdr_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.business_companies_brdr_img_txt_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.companies_amount_percentage {
    margin-left: 28px;
    margin-top: 20px;
}

p.business_companies_brdr_txt_ppp {
    margin-left: 10px;
}

.business_companies_brdr_img_txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.companies_graph_brdr {
    background: linear-gradient(360deg, #1faf389e 0%, rgba(217, 217, 217, 0.00) 100%);
    border-radius: 0px 0px 20px 20px;

    padding-top: 30px;
}

.business_companies_brdr_main .slick-slide {
    padding: 10px;
}

.business_companies_brdrpadding {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.companies_graph_brdr svg {
    width: 100%;
    height: auto;
}

p.business_companies_brdr_txt_ppp {
    color: #000;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}

p.business_companies_brdr_date_txt {
    color: #000;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
}

span.companies_amount_percentage_amnt {
    color: #000;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

span.companies_amount_percentage_amnt_percentage {
    color: #2EC914;
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 20px;
}

.business_companies_brdr_main .slick-prev:before {
    content: '\f104' !important;
    border-radius: 59px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: FontAwesome !important;
    font-size: 28px !important;
    line-height: 1;
    opacity: 1 !important;
    color: rgb(0, 0, 0) !important;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 0;
}

.business_companies_brdr_main .slick-prev {
    left: -15px;
    z-index: 2;
}

.business_companies_brdr_main .slick-next {
    right: 8px;

}

.business_companies_brdr_main .slick-next:before {
    content: '\f105' !important;
    border-radius: 59px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: FontAwesome !important;
    font-size: 28px !important;
    line-height: 1;
    opacity: 1 !important;
    color: rgb(0, 0, 0) !important;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 0;
}

/**** business_Gainers_companies  ****/
.business_companies_hhead_btn {
    display: flex;
    justify-content: space-between;

}

.btn_mdm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #263238;
    font-size: 15px;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn_mdm:hover {
    color: #fff;
    background: #263238;
    text-decoration: none;
}

.btn_mdm i {
    margin-left: 5px;
}

/* .btn_mdm i:hover {
    transform: rotate(178deg);
} */
/**** business_loosers_companies  ****/
.companies_graph_brdr_rd {
    border-radius: 0px 0px 20px 20px;
    background: linear-gradient(360deg, #f44336e8 0%, rgba(217, 217, 217, 0.00) 100%);
}

.btn_mdm_list {
    border-radius: 5px 5px 4px 5px;
    border-top: 1px solid rgba(38, 50, 56, 0.50);
    border-right: 1px solid rgba(38, 50, 56, 0.50);
    border-left: 1px solid rgba(38, 50, 56, 0.50);
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    border-bottom: 1px solid rgba(38, 50, 56, 0.50);
}
.btn_mdm_list_total{
    padding-top: 10px;
    padding-bottom: 10px;
}
.business_companies_brdr_main {
    position: relative;
}
ul.btn_mdm_list {
    position: absolute;
    z-index: 9;
    width: 130px;
}
/* .hhead_btn_mdm {
    position: absolute;
    right: 0;
    z-index: 9;
} */
@media(max-Width:1199px) {}

@media(max-Width:991px) {
    h5.business_investment_amnt {
        font-size: 22px;
        line-height: 28px;
    }

    p.business_investment_total {
        font-size: 18px;
        line-height: 23px;

    }
}

@media(max-Width:767px) {
    h5.business_investment_amnt {
        font-size: 20px;
        line-height: 25px;
    }

    p.business_investment_total {
        font-size: 16px;
        line-height: 21px;
    }

    h5.business_available_txt_hhh {
        font-size: 18px;
        line-height: 24px;
    }

    p.business_available_txt_ppp {
        font-size: 21px;
        line-height: 26px;
        padding-top: 8px;
    }
}

@media(max-Width:576px) {
    .business_mny_btn {
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        padding: 12px 20px;
    }

    p.business_companies_brdr_txt_ppp {
        font-size: 19px;
        line-height: 24px;
    }

    p.business_companies_brdr_date_txt {
        font-size: 19px;
        line-height: 24px;
    }

    span.companies_amount_percentage_amnt {
        font-size: 20px;
        line-height: 25px;
    }

    span.companies_amount_percentage_amnt_percentage {
        font-size: 19px;
        line-height: 24px;
    }

    .business_companies_brdr_img {
        width: 37px;
        height: 37px;
    }
}

@media(max-Width:480px) {
    h5.business_available_txt_hhh {
        font-size: 16px;
        line-height: 22px;
    }

    p.business_available_txt_ppp {
        font-size: 18px;
        line-height: 22px;
        padding-top: 6px;
    }

    .business_mny_btn {
        font-size: 14px;
        line-height: 18px;
        padding: 9px 16px;
    }
}

@media(max-Width:420px) {
    .business_investment_return_main {

        flex-wrap: wrap;
    }

    .business_return {
        margin-left: 50px;
        margin-top: 10px;
    }

    .business_investment_return {
        padding-top: 70px;
        padding-bottom: 35px;

    }

    h5.business_available_txt_hhh {
        font-size: 14px;
        line-height: 18px;
    }

    .business_available_txt_main {
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 18px;
        padding-right: 18px;
    }

    p.business_available_txt_ppp {
        font-size: 16px;
        line-height: 21px;
        padding-top: 5px;
    }

    .business_mny_btn {
        font-size: 14px;
        line-height: 18px;
        padding: 6px 9px;
    }

    p.business_companies_brdr_txt_ppp {
        font-size: 17px;
        line-height: 23px;
    }

    p.business_companies_brdr_date_txt {
        font-size: 17px;
        line-height: 22px;
    }

    span.companies_amount_percentage_amnt {
        font-size: 17px;
        line-height: 24px;
    }

    span.companies_amount_percentage_amnt_percentage {
        font-size: 17px;
        line-height: 23px;
    }

}

@media (max-width:350px) {
    .business_available_txt_main {
        padding-left: 10px;
        padding-right: 10px;
    }

    h5.business_available_txt_hhh {
        font-size: 13px;
        line-height: 17px;
    }

    p.business_available_txt_ppp {
        font-size: 15px;
        line-height: 19px;
        padding-top: 4px;
    }

    .business_mny_btn {
        font-size: 13px;
        line-height: 17px;
        padding: 5px 7px;
    }

    p.business_companies_brdr_txt_ppp {
        font-size: 15px;
        line-height: 20px;
    }

    p.business_companies_brdr_date_txt {
        font-size: 15px;
        line-height: 20px;
    }

    span.companies_amount_percentage_amnt {
        font-size: 15px;
        line-height: 20px;
    }

    span.companies_amount_percentage_amnt_percentage {
        font-size: 15px;
        line-height: 20px;
    }
}