.business_home {
    padding-top: 30px;
}

.podcastTab_explr_btn {
    display: flex;
    align-items: center;
    gap: 43px;
    margin: 0;
    justify-content: space-between;
}

.podcast_explr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.business-explr_btn {
    border-radius: 5px;
    background: #263238;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.business-explr_btn:hover {
    color: #FFF;
    background: #263238;
}

.business-explr_btn i {
    margin-left: 5px;
}

/* .business-explr_btn i:hover {
    transform: rotate(178deg);
} */
.business_explr {
    position: relative;
}

.exploreul {
    border-radius: 5px 5px 4px 5px;
    border-top: 1px solid rgba(38, 50, 56, 0.50);
    border-right: 1px solid rgba(38, 50, 56, 0.50);
    border-left: 1px solid rgba(38, 50, 56, 0.50);
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    border-bottom: 1px solid rgba(38, 50, 56, 0.50);

}

ul.exploreul {
    position: absolute;
    z-index: 9;
    width: 130px;
}

.exploreli {
    padding-top: 9px;
    padding-bottom: 9px;
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

/**** business_investment_return  ****/
.business_investment_return {
    border-radius: 0px 0px 80px 80px;
    border-right: 0.4px solid #FF725E;
    border-bottom: 0.4px solid #FF725E;
    border-left: 0.4px solid #FF725E;
    background: linear-gradient(180deg, rgba(255, 128, 110, 0.00) 0%, rgba(255, 128, 110, 0.88) 48.47%, #F82103 100%);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 23px;

}

.business_investment_return_main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: end;
}

.business_investment {
    /* height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end; */
    margin-left: 50px;
}

.business_return {
    /* height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end; */
    margin-right: 50px;
}

h5.business_investment_amnt {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

p.business_investment_total {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
}

/**** business_invest_ftse ****/
.business_invst_crd {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.25);
    padding: 34px 20px;

}

.business_invest_ftse .slick-slide {
    padding: 10px;
}

.business_invst_crd_ftse_amnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
}

h5.business_invst_crd_ftse_hhh {
    color: #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

p.business_invst_crd_ftse_amnt_ppp {
    color: #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

p.business_invst_crd_ftse_amnt_ppp_percent {
    color: #2EC914;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

/****  ****/
.business_balance_for_stock {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.business_available_txt_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    flex-wrap: nowrap;
}

.business_mny_btn {
    border-radius: 5px;
    background: #FF3A44;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    padding: 14px 30px;
}

.business_mny_btn:hover {
    color: #fff;
    text-decoration: none;
    background: #FF3A44;
}

h5.business_available_txt_hhh {
    color: #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

p.business_available_txt_ppp {
    color: #000;
    font-family: 'Open Sans';
    font-size: 23px;
    font-weight: 600;
    line-height: 28px;
    padding-top: 10px;
}

/**** business_all_companies ****/
h4.business_companies_txt {
    color: #000;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

.business_companies_brdr_main {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.business_companies_brdr {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.25);
    padding-top: 50px;
}

.business_companies_brdr_img {
    width: 42px;
    height: 43px;
}

.business_companies_brdr_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.business_companies_brdr_img_txt_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.companies_amount_percentage {
    margin-left: 28px;
    margin-top: 20px;
}

p.business_companies_brdr_txt_ppp {
    margin-left: 10px;
}

.business_companies_brdr_img_txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.companies_graph_brdr {
    background: linear-gradient(360deg, #1faf389e 0%, rgba(217, 217, 217, 0.00) 100%);
    border-radius: 0px 0px 20px 20px;

    padding-top: 30px;
}

.business_companies_brdr_main .slick-slide {
    padding: 10px;
}

.business_companies_brdrpadding {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.companies_graph_brdr svg {
    width: 100%;
    height: auto;
}

p.business_companies_brdr_txt_ppp {
    color: #000;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}

p.business_companies_brdr_date_txt {
    color: #000;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
}

span.companies_amount_percentage_amnt {
    color: #000;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}

span.companies_amount_percentage_amnt_percentage {
    color: #2EC914;
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 20px;
}

.business_companies_brdr_main .slick-prev:before {
    content: '\f104' !important;
    border-radius: 59px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: FontAwesome !important;
    font-size: 28px !important;
    line-height: 1;
    opacity: 1 !important;
    color: rgb(0, 0, 0) !important;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 0;
}

.business_companies_brdr_main .slick-prev {
    left: -15px;
    z-index: 2;
}

.business_companies_brdr_main .slick-next {
    right: 8px;

}

.business_companies_brdr_main .slick-next:before {
    content: '\f105' !important;
    border-radius: 59px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: FontAwesome !important;
    font-size: 28px !important;
    line-height: 1;
    opacity: 1 !important;
    color: rgb(0, 0, 0) !important;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 0;
}

/**** business_Gainers_companies  ****/
.business_companies_hhead_btn {
    display: flex;
    justify-content: space-between;

}

.btn_mdm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #263238;
    font-size: 15px;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn_mdm:hover {
    color: #fff;
    background: #263238;
    text-decoration: none;
}

.btn_mdm i {
    margin-left: 5px;
}

/* .btn_mdm i:hover {
    transform: rotate(178deg);
} */
/**** business_loosers_companies  ****/
.companies_graph_brdr_rd {
    border-radius: 0px 0px 20px 20px;
    background: linear-gradient(360deg, #f44336e8 0%, rgba(217, 217, 217, 0.00) 100%);
}

.btn_mdm_list {
    border-radius: 5px 5px 4px 5px;
    border-top: 1px solid rgba(38, 50, 56, 0.50);
    border-right: 1px solid rgba(38, 50, 56, 0.50);
    border-left: 1px solid rgba(38, 50, 56, 0.50);
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    border-bottom: 1px solid rgba(38, 50, 56, 0.50);
}

.btn_mdm_list_total {
    padding-top: 10px;
    padding-bottom: 10px;
}

.business_companies_brdr_main {
    position: relative;
}

ul.btn_mdm_list {
    position: absolute;
    z-index: 9;
    width: 130px;
}

/* .hhead_btn_mdm {
    position: absolute;
    right: 0;
    z-index: 9;
} */

/* business_watchlist_edit */
.watchlist_edit {
    display: flex;
    justify-content: end;
    align-items: center;
}

.edit_watch {
    color: #2EC914;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    background-color: transparent;
}

.comapnises_nmbr p {
    color: #000;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
}

.companies_rcntly {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recnt {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.recntly {
    margin-left: 15px;
    margin-right: 15px;
    color: #000;
    font-family: 'Open Sans';
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
}


/**** business_company_list ****/
.business_company_img_amnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.business_company_img_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/* span.company_lrm {
    color: #000;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    margin-left: 10px;
} */
.company_lrm_name_stck {
    margin-left: 17px;
    margin-top: 6px;
}

p.company_lrm {
    color: #000;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
}

p.company_stck {
    color: #000;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 5px;
}

.business_company_img {
    width: 56px;
    height: 57px;
}

.business_company_img img {
    width: 100%;
    height: 100%;
}

/* .business_company_img_graph {
    width: 170px;
    height: 75px;
} */

.business_company_img_graph img {
    width: 160px;
    height: 70px;
}

.companies_amnt_price {
    color: #000;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
}

.companies_amnt_percentage {
    color: #2EC914;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin-left: 15px;
}

/* .companies_edit_cross {
    width: 36px;
    height: 36px;
} */
.companies_edit_cross img {
    width: 37px;
    height: 53px;
}

.left_chevron {
    width: 36px;
    height: auto;
}

.left_chevron img {
    width: 100%;
    height: 100%;
}

.right_chevron {
    width: 36px;
    height: auto;
}

.right_chevron img {
    width: 100%;
    height: 100%;
}

/**** Business Portfolio ****/
.business_porfolio_img img {
    width: 100%;
    height: auto;
}

/**** business_portfolio_amont_percnt ****/
.business_portfolio_amont_bg {
    border-radius: 20px;
    background: #E1D7D7;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
    width: 100%;
    max-width: 80%;
    display: flex;
    justify-content: center;
}

.business_portfolio_amont_percnt {
    display: flex;
    justify-content: center;
}

.business_portflo_amnt {
    padding-top: 40px;
    padding-bottom: 40px;
}

p.business_portflo_amnt_ppp {
    color: #000;
    font-family: 'Open Sans';
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
}

p.business_portflo_percnt_ppp {
    color: #2EC914;
    font-family: 'Open Sans';
    font-size: 27px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    margin-top: 10px;
}

.business_holdsong {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #25333A;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background: #E1D7D7;
}

.business_holdsong.active_business_holdsong {
    background: #FA4127;
    color: #FFF;
}

.content-business {

    display: none;
}

.active-content-business {
    display: block;
}

/* .business_holdsong:hover {
    color: #fff;
    text-decoration: none;
    background: #FA4127;
} */

.business_holdsong_position {
    display: flex;
    gap: 4%;
    justify-content: space-around;
}

.business_position {
    border-radius: 10px;
    background: #E1D7D7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    color: #25333A;
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.business_position:hover {
    background: #E1D7D7;
    color: #25333A;
}

/**** business_available_quality_rtrns  ****/
.business_position_main_brdr {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 80%;
    padding-top: 11px;
    padding-bottom: 11px;

}

.business-position_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.business_main_brdr {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #135A07;
    border-radius: 30px;
    width: 54px;
    height: 55px;
}

p.business_txt_position_cash {
    color: #25333A;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 17px;
}

p.business_txt_position_amnt {
    color: #25333A;
    font-family: 'Plus Jakarta Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2px;

}

.business_main_brdr_img_txt {

    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 50px;
    /* gap: 2px; */
    margin-left: 30px;

}

.business_main_brdr_txt {
    margin-left: 20px;
}

/**** businessnews_main_pg  ****/
.business_main_txt_day {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.business_main_txt_pp {
    color: #25333A;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 2px;
}

p.business_main_txt_dd {
    color: rgba(37, 51, 58, 0.80);
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
}

p.business_news_txt_ppp {
    color: #000;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 2px;
}

/**** stock_single_page ****/
.stock_single_page_img {
    width: 100%;
    height: 517px;
}

.stock_single_page_img img {
    width: 100%;
    height: 100%;
}

h2.business_perftmne {
    color: #25333A;
    font-family: 'Open Sans';
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 2px;

}

.business_performance .collapsible-link::before {
    content: "\f107";
    position: absolute;
    top: 50%;
    right: 2.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: "FontAwesome";
    font-size: 32px;
    border-radius: 35px;
    /* background: #E0E0E0; */
    width: 30px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: #25333A;
    font-weight: 400;
    transition: .5s all ease-in-out;
}

.business_performance .collapsible-link[aria-expanded="true"]::before {

    content: "\f106";
    top: 10%;
}

.business_performance .btn-link:hover {
    color: #25333A !important;
}

.business_performance .btn-link {
    color: #25333A;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-left: 30px;
    letter-spacing: 2px;
}

.performace_high_low {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.input_high_low_grn {
    border-radius: 10px;
    background: #1FAF38;
    width: 100%;
    height: 5px;
}

.input_high_low {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 35px;
}

p.today_low_pp {
    color: rgba(37, 51, 58, 0.80);
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.business_market_strt .collapsible-link::before {
    content: "\f107";
    position: absolute;
    top: 50%;
    right: 2.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: "FontAwesome";
    font-size: 32px;
    border-radius: 35px;
    /* background: #E0E0E0; */
    width: 30px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: #25333A;
    font-weight: 400;
    transition: .5s all ease-in-out;
}

.business_market_strt .collapsible-link[aria-expanded="true"]::before {

    content: "\f106";
    top: 5%;
}

.spot_market_point {
    background: #1FAF38;
    width: 14px;
    display: inline-block;
    border-radius: 16px;
    height: 14px;
    /* margin-left: 11px; */
    margin-right: 15px;
}

h6.spot_market_point_txt {
    color: #25333A;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    margin-left: 40px;
}

.spot_market_txt_main {
    display: flex;
    justify-content: space-between;

}

h5.spot_market_point_lrm {
    color: #25333A;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 2px;
    margin-right: 47px;
}

.company_news_about_flx {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company_news_abt_update {
    margin-left: 40px;
    margin-right: 40px;
}

h5.company_news_about_txt_hhh {
    color: #25333A;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1px;
}

p.company_news_about_txt_ppp {
    color: rgba(37, 51, 58, 0.80);
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
}

p.company_news_update_txt {
    color: #000;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.company_news_update {
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    margin-bottom: 10px;
}

.people_bought_compamy_txt_price_amnt {
 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

/* .people_bought_compamy_txt_price_amnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.people_bought_company_img_txt {
    display: flex;
    align-items: center;
    gap: 30px;
}

.people_bought_company_flx {
    margin-left: 40px;
    margin-right: 45px;
}

.people_bought_company_img {
    width: 50px;
    height: 50px;
}

.people_bought_company_img img {
    width: 100%;
    height: 100%;
}

h5.bought_company_name {
    color: #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

p.bought_company_stck {
    color: #000;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
}
span.bought_company_amnt {
    color: #000;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}
span.bought_company_percent{
    color: #2EC914;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 15px;
}
.bought_company_amnt_percnt {
    margin-top: 20px;
}
.share_holding_month_date_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 46px;
    margin-right: 48px;
}
.content-business-share {
    display: none;
}
.active-content-business-shre {
    display: block;
}
.share_holding_pattrn_flx_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 46px;
    margin-right: 48px;
    margin-top: 20PX;
    margin-bottom: 20PX;
}
.progress.progress_share {
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin-left: 46px;
    margin-right: 48px;
    height: 8px;
}
.progress-bar.progress_shre_bar {
    background: #1FAF38;
    height: 20px;
}
.share_holdsong.active_share_holdsong {
    border-radius: 10px;
    border: 1px solid rgba(37, 51, 58, 0.50);
    background: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
}
.share_holdsong {
    background: transparent;
    border: none;
}
.business_sell_buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 40px; */
    margin-left: 40px;
    margin-right: 40px;
    
}
.business-cell_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0.3px solid #1FAF38;
    background: rgba(255, 255, 255, 0.00);
    /* padding: 40px; */
    padding-top: 9px;
    padding-bottom: 8px;
   padding-left: 150px;
   padding-right: 150px;
}
/* .business-buy_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0.3px solid #1FAF38;
    background: rgba(255, 255, 255, 0.00);
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 114px;
    padding-right: 114px;
} */
@media(max-Width:1199px) {
    .business_holdsong_position {
        gap: 0%;
    }

    .business_holdsong {
        padding-left: 60px;
        padding-right: 60px;

    }
}

@media(max-Width:991px) {
    h5.business_investment_amnt {
        font-size: 22px;
        line-height: 28px;
    }

    p.business_investment_total {
        font-size: 18px;
        line-height: 23px;
    }

    p.company_lrm {
        font-size: 18px;
        line-height: 23px;
    }

    p.company_stck {
        font-size: 17px;
        line-height: 21px;
        margin-top: 4px;
    }

    .company_lrm_name_stck {
        margin-top: 0;
    }

    .business_company_img {
        width: 49px;
        height: 50px;
    }

    .business_company_img_graph {
        width: 150px;
        height: 70px;
    }

    .companies_amnt_price {
        font-size: 20px;
        line-height: 26px;
    }

    .companies_amnt_percentage {
        font-size: 20px;
        line-height: 26px;
    }

    .business_holdsong_position {
        justify-content: space-evenly;
    }
    .business_sell_buy {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .people_bought_compamy_txt_price_amnt {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }
}

@media(max-Width:767px) {
    h5.business_investment_amnt {
        font-size: 20px;
        line-height: 25px;
    }

    p.business_investment_total {
        font-size: 16px;
        line-height: 21px;
    }

    h5.business_available_txt_hhh {
        font-size: 18px;
        line-height: 24px;
    }

    p.business_available_txt_ppp {
        font-size: 21px;
        line-height: 26px;
        padding-top: 8px;
    }

    .business_company_img_graph {
        width: 110px;
        height: 58px;
    }

    .business_company_img {
        width: 42px;
        height: 42px;
    }

    p.company_lrm {
        font-size: 14px;
        line-height: 18px;
        white-space: nowrap;
    }

    p.company_stck {
        font-size: 15px;
        line-height: 19px;
        margin-top: 3px;
    }

    .companies_amnt_price {
        font-size: 18px;
        line-height: 26px;
    }

    .companies_amnt_percentage {
        font-size: 18px;
        line-height: 26px;
    }

    .business_company_img_amnt {
        gap: 90px;
        justify-content: inherit;
    }


    .business_company_list {
        overflow-x: auto;
    }

    p.business_portflo_amnt_ppp {
        font-size: 30px;
        line-height: 35px;
    }

    p.business_portflo_percnt_ppp {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
    }

    .business_holdsong {
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 19px;
    }

    p.business_main_txt_pp {
        font-size: 16px;
        line-height: 20px;
    }

    p.business_main_txt_dd {
        font-size: 18px;
        line-height: 22px;
    }

    p.business_news_txt_ppp {
        font-size: 15px;
        line-height: 20px;
    }

    .business_performance .collapsible-link::before {
        font-size: 25px;
    }

    .business_performance .btn-link {
        font-size: 17px;
        line-height: 23px;
    }

    p.today_low_pp {
        font-size: 16px;
        line-height: 21px;
    }
    .share_holding_month_date_main {
        flex-wrap: wrap;
        justify-content: inherit;
        gap:20px
    }
}

@media(max-Width:576px) {
    .business_mny_btn {
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        padding: 12px 20px;
    }

    p.business_companies_brdr_txt_ppp {
        font-size: 19px;
        line-height: 24px;
    }

    p.business_companies_brdr_date_txt {
        font-size: 19px;
        line-height: 24px;
    }

    span.companies_amount_percentage_amnt {
        font-size: 20px;
        line-height: 25px;
    }

    span.companies_amount_percentage_amnt_percentage {
        font-size: 19px;
        line-height: 24px;
    }

    .business_companies_brdr_img {
        width: 37px;
        height: 37px;
    }

    .comapnises_nmbr p {
        font-size: 20px;
        line-height: 24px;
    }

    p.recntly {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 19px;
        line-height: 24px;
    }

    .comapnises_nmbr p {
        font-size: 17px;
        line-height: 22px;
    }

    .left_chevron {
        width: 29px;
    }

    .right_chevron {
        width: 29px;
    }

    p.today_low_pp {
        font-size: 14px;
        line-height: 19px;
    }
}

@media(max-Width:480px) {
    h5.business_available_txt_hhh {
        font-size: 16px;
        line-height: 22px;
    }

    p.business_available_txt_ppp {
        font-size: 18px;
        line-height: 22px;
        padding-top: 6px;
    }

    .business_mny_btn {
        font-size: 14px;
        line-height: 18px;
        padding: 9px 16px;
    }

    .business_holdsong {
        padding-left: 28px;
        padding-right: 28px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 17px;
    }

    p.business_portflo_amnt_ppp {
        font-size: 25px;
        line-height: 30px;
    }

    p.business_portflo_percnt_ppp {
        font-size: 19px;
        line-height: 25px;
    }

    p.business_main_txt_pp {
        font-size: 15px;
        line-height: 19px;
    }

    p.business_main_txt_dd {
        font-size: 16px;
        line-height: 20px;
    }

    p.business_news_txt_ppp {
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 2px;
    }

    .input_high_low {

        margin-top: 9px;

    }
}

@media(max-Width:420px) {
    .business_investment_return_main {

        flex-wrap: wrap;
    }

    .business_return {
        margin-left: 50px;
        margin-top: 10px;
    }

    .business_investment_return {
        padding-top: 70px;
        padding-bottom: 35px;

    }

    h5.business_available_txt_hhh {
        font-size: 14px;
        line-height: 18px;
    }

    .business_available_txt_main {
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 18px;
        padding-right: 18px;
    }

    p.business_available_txt_ppp {
        font-size: 16px;
        line-height: 21px;
        padding-top: 5px;
    }

    .business_mny_btn {
        font-size: 14px;
        line-height: 18px;
        padding: 6px 9px;
    }

    p.business_companies_brdr_txt_ppp {
        font-size: 17px;
        line-height: 23px;
    }

    p.business_companies_brdr_date_txt {
        font-size: 17px;
        line-height: 22px;
    }

    span.companies_amount_percentage_amnt {
        font-size: 17px;
        line-height: 24px;
    }

    span.companies_amount_percentage_amnt_percentage {
        font-size: 17px;
        line-height: 23px;
    }

    .business_holdsong {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }

    p.today_low_pp {
        font-size: 12px;
        line-height: 19px;
    }

    .performace_high_low {
        justify-content: inherit;
        gap: 46px;
    }

}

@media (max-width:350px) {
    .business_available_txt_main {
        padding-left: 10px;
        padding-right: 10px;
    }

    h5.business_available_txt_hhh {
        font-size: 13px;
        line-height: 17px;
    }

    p.business_available_txt_ppp {
        font-size: 15px;
        line-height: 19px;
        padding-top: 4px;
    }

    .business_mny_btn {
        font-size: 13px;
        line-height: 17px;
        padding: 5px 7px;
    }

    p.business_companies_brdr_txt_ppp {
        font-size: 15px;
        line-height: 20px;
    }

    p.business_companies_brdr_date_txt {
        font-size: 15px;
        line-height: 20px;
    }

    span.companies_amount_percentage_amnt {
        font-size: 15px;
        line-height: 20px;
    }

    span.companies_amount_percentage_amnt_percentage {
        font-size: 15px;
        line-height: 20px;
    }
}